{% extends 'base.html' %}
{% block content %}
<a href="{% url 'home' %}">Back</a>
<style>
  #del{
    background-color: #f44336;
  }
table, td, th {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 100%;
  height: 30%;
}
td {
  text-align: center;
}
</style>
<table>
  <tr>
    <th>Itemname</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th></th>
  </tr>
{% for j in f.all %}
<tr>
<td>{{j.name}}</td>
<td>{{j.quantity}}</td>
<td>{{j.totalcost}}</td>
<td><form action="{% url 'cart2'%}" method="post">
  {% csrf_token %}
  <input type="text" name="nam" value="{{j.name}}" hidden>
  <input id="del" class="btn btn-primary" type="submit" value="Delete">
</form></td>
</tr>
{% endfor %}
</table>
<table>
<tr>
<th>TotalCost:</th>
<td>{{tc}}</td>
</tr>
</table>
<form method="POST" action="{% url 'payment' %}">
  {% csrf_token %}
<input type="number" name="cs" value="{{tc}}" hidden>
<input class="btn btn-primary" type="submit" value="Pay">
</form>
{% endblock %}
