{% extends 'base.html' %}
{% block content %}
<style>
.error{
  color: #DC143C;
}
</style>
<div class="error">
{% if er %}
{{er}}
{% endif %}
</div>
<h1>Sign-Up</h1>
<form method="POST" action="{% url 'signup' %}">
  {% csrf_token %}
  Username:
  <br>
  <input type="text" name="username" required>
  <br>
  Email:
  <br>
  <input type="email" name="email" required>
  <br>
  Password:
  <br>
  <input type="password" name="pass1" required>
  <br>
  Confirm Password:
  <br>
  <input type="password" name="pass2" required>
  <br />
  <br />
  <input class="btn btn-primary" type="submit" value="Sign-up">
</form>

{% endblock %}
